@mixin column-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

@mixin column-1 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

@mixin column-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@mixin column-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

@mixin column-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

@mixin column-5 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

@mixin column-6 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

@mixin column-7 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

@mixin column-8 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

@mixin column-9 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

@mixin column-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@mixin margin-sm {
    margin: $sm-unity;
}

@mixin margin-sm-left {
    margin-left: $sm-unity;
}

@mixin margin-sm-right {
    margin-right: $sm-unity;
}

@mixin margin-sm-top {
    margin-top: $sm-unity;
}

@mixin margin-sm-bottom {
    margin-bottom: $sm-unity;
}

@mixin margin {
    margin: $md-unity;
}

@mixin margin-left {
    margin-left: $md-unity;
}

@mixin margin-right {
    margin-right: $md-unity;
}

@mixin margin-top {
    margin-top: $md-unity;
}

@mixin margin-bottom {
    margin-bottom: $md-unity;
}

@mixin margin-lg {
    margin: $lg-unity;
}

@mixin margin-lg-left {
    margin-left: $lg-unity;
}

@mixin margin-lg-right {
    margin-right: $lg-unity;
}

@mixin margin-lg-top {
    margin-top: $lg-unity;
}

@mixin margin-lg-bottom {
    margin-bottom: $lg-unity;
}

@mixin margin-xl {
    margin: $xl-unity;
}

@mixin margin-xl-left {
    margin-left: $xl-unity;
}

@mixin margin-xl-right {
    margin-right: $xl-unity;
}

@mixin margin-xl-top {
    margin-top: $xl-unity;
}

@mixin margin-xl-bottom {
    margin-bottom: $xl-unity;
}

@mixin padding-sm {
    padding: $sm-unity;
}

@mixin padding-sm-left {
    padding-left: $sm-unity;
}

@mixin padding-sm-right {
    padding-right: $sm-unity;
}

@mixin padding-sm-top {
    padding-top: $sm-unity;
}

@mixin padding-sm-bottom {
    padding-bottom: $sm-unity;
}

@mixin padding {
    padding: $md-unity;
}

@mixin padding-left {
    padding-left: $md-unity;
}

@mixin padding-right {
    padding-right: $md-unity;
}

@mixin padding-top {
    padding-top: $md-unity;
}

@mixin padding-bottom {
    padding-bottom: $md-unity;
}

@mixin padding-lg {
    padding: $lg-unity;
}

@mixin padding-lg-left {
    padding-left: $lg-unity;
}

@mixin padding-lg-right {
    padding-right: $lg-unity;
}

@mixin padding-lg-top {
    padding-top: $lg-unity;
}

@mixin padding-lg-bottom {
    padding-bottom: $lg-unity;
}

@mixin padding-xl {
    padding: $xl-unity;
}

@mixin padding-xl-left {
    padding-left: $xl-unity;
}

@mixin padding-xl-right {
    padding-right: $xl-unity;
}

@mixin padding-xl-top {
    padding-top: $xl-unity;
}

@mixin padding-xl-bottom {
    padding-bottom: $xl-unity;
}
