* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    -ms-overflow-style: scrollbar;
    font-size: 14px;
}

.header{
    background: $primary-color;
    -webkit-print-color-adjust: exact;
    min-height: 100vh;
    height: 100%;
    color: $light-color;
    text-align: center;
    &__photo{
        @include margin-lg;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 50%;
    }
    &__link{
        color: $light-color;
        text-decoration: none;
        &:visited{
            color: $light-color;
        }
    }
    &__name{
        @include margin;
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__title{
        @include margin-sm;
        font-size: 1.4rem;
    }
    &__about{
        @include margin-lg;
    }
    &__contacts{
        @include margin;
        word-break: break-word;
        overflow-wrap: break-word;
        a, span{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.section{
    &__title{
        color: $primary-color;
        font-weight: bold;
    }
}