$primary-font: 'Sarabun', sans-serif;
$primary-color: #1B1725;
$dark-color: #222f3e;
$light-color: #f5f6fa;
$small-devices: 576px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;
$hd-devices: 1920px;
$sm-unity: 0.25rem;
$md-unity: 0.5rem;
$lg-unity: 1rem;
$xl-unity: 1.5rem;
